{% extends "base.html" %}
{% load staticfiles %}

{% load exp %}

{% block title %}Find the Latest Hotel Deals!{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
 <div class="container">
	 <h1>Find the Latest Hotel Deals!</h1>
	 <p>Use the form below to get the latest hotel deals.</p>
 </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			 <form method="get">
				 {{ form.as_p | safe }}

				 <input type="submit" class="btn btn-primary" value="Search!" />
			 </form>

			 <hr>
		</div>
	</div>
</div>

<div class="container">
 <div class="row">
   {% for offer in search_results.offers.Hotel %}
     <div class="col-md-6">
       <h4>{{ offer.hotelInfo.hotelName }}</h4>

       <div class="hotel clearfix">
         <div class="pull-left">
           <img alt="{{ offer.hotelInfo.hotelName }}"
                class="hotel-img"
                src="{{ offer.hotelInfo.hotelImageUrl }}" />


           <a class="btn btn-primary btn-sm"
               target="_blank"
               href="{{ offer.hotelUrls.hotelInfositeUrl | unquote_raw }}">Reserve Now</a>
         </div>
         <div class="hotel-info">
           {% if offer.hotelInfo.promotionDescription %}
             <p class="text-info">
               {{ offer.hotelInfo.promotionDescription }}
             </p>
           {% endif %}
           <p class="text-success">
             {% if offer.hotelPricingInfo.totalPriceValue != offer.hotelPricingInfo.hotelTotalBaseRate %}
               {% spaceless %}
                 <span class="base-price">
                   {{ offer.hotelPricingInfo.hotelTotalBaseRate }}
                 </span>
               {% endspaceless %}
               &nbsp;
             {% endif %}

             <span class="offer-price">
               {% spaceless %}
                 <span>{{ offer.hotelPricingInfo.totalPriceValue }}</span>
                 <span>{{ offer.hotelPricingInfo.currency }}</span>
               {% endspaceless %}
             </span>

             {% if offer.hotelPricingInfo.percentSavings > 1 %}
               <span class="saving">
                 {{ offer.hotelPricingInfo.percentSavings | floatformat:0 }}% off
               </span>
             {% endif %}
           </p>

           {% stars offer.hotelInfo.hotelStarRating %}

           <address>
             {{ offer.hotelInfo.hotelDestination }}
           </address>
         </div>
       </div>
     </div>
   {% endfor %}
 </div>
</div>

<div class="container">
 {% comment %}
   <div class="row">
    <pre>{{ search_results_dump }}</pre>
   </div>
 {% endcomment %}

 <hr>

 <footer>
	 <p>&copy; 2017 Omar Al-Ithawi.</p>
 </footer>
</div> <!-- /container -->
{% endblock %}
