.hotel {
  min-height: 140px;
}

img.hotel-img {
  display: block;
  margin: 0 0 5px;
  width: 93px;
  height: 93px;
}

.hotel-info {
  float: left;
  margin-left: 8px;
}

.base-price {
  text-decoration: line-through;
}

.base-price + .offer-price {
  font-weight: bold;
}
